<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationURL" value="https://www.amazon.in/" />
		<add key="UserName" value="" />
		<add key="Password" value="" />
		<add key="ApiURL" value="https://reqres.in/api/login" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>